<div bsModal #mdModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title">Create thread</label>
                <button type="button" class="close" aria-label="Close" (click)="mdModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form form-add form-horizontal" id="inputForm" [formGroup]="inputForm" (ngSubmit)="submitForm()">
                    <div class="form-group">
                        <label for="creator" class="col-form-label">Name (optional):</label>
                        <input type="text" class="form-control" id="creator" name="creator" formControlName="creator">
                    </div>
                    <div class="form-group">
                        <label for="title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" formControlName="title">
                    </div>
                    <div class="form-group">
                        <label for="content" class="col-form-label">Content:</label>
                        <textarea class="text-area form-control" id="content" name="content" formControlName="content"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="inputForm" class="btn btn-style">Submit</button>
            </div>
        </div>
    </div>
</div>
<app-error-modal #error="bs-modal"></app-error-modal>