<div class="container-fluid">
  <div class="row justify-content-center top-buffer">
    <div class="col-11">

      <div class="row justify-content-between">
        <div class="col-3">
          <h4 class="title">Threads</h4>
        </div>
        <div class="col-3 text-right">
          <button class="btn btn-style" (click)="createThreadComponent.show()">Create Thread</button>
        </div>
      </div>

      <div class="row justify-content-center top-buffer">
        <div class="col-12">
          <table class="table table-hover">
            <thead>
              <tr>
                <th></th>
                <th>Title</th>
                <th>Date</th>
                <th>Comments</th>
                <th>Last Message</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let thread of (threads | async)">
                <td>
                  <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                </td>
                <td class="selectable" [routerLink]="['/thread/', thread.threadId]">{{thread.title}}</td>
                <td>{{thread.created | date:'MMM d, y'}}</td>
                <td>{{thread.commentCount}}</td>
                <td class="last-info">
                  <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                  <div class="info">
                    <span class="name">{{thread.lastUser}}</span>
                    <span class="date">{{thread.lastDate | date:'MMM d, y'}}</span>
                  </div>
                </td>
                <td class="text-right">
                  <div *ngIf="currentId === thread.creatorId">
                    <i class="fa fa-pencil fa-2x selectable" aria-hidden="true" (click)="createThreadComponent.show(thread)"></i>
                    <i class="fa fa-trash fa-2x selectable" aria-hidden="true" (click)="deleteThread(thread.threadId)"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
<app-create-thread-modal #createThreadComponent="bs-modal"></app-create-thread-modal>
<app-error-modal #error="bs-modal"></app-error-modal>